*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
 font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

  /* top-part */

.container{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    width: 100%;
}
.top-banner{
    width: 80%;
    height: 850px;
    background-color: black;
    border-radius: 30px ;
    color: white;
    display: flex;
    
}
.banner-details{
    width: 50%;
    margin: 70px 0 0 80px;


} 
.banner-details h1{
    font-size: 70px
}
.banner-details p{
    font-size: 20px
    
}
.banner-img{
    width: 50%;
    
} 
.banner-details button{
    padding:20px 45px;
    border-radius: 10px;
    border: none;
    background-color: red;
    font-size: 20px;
    color:white;
    margin-top: 40px;
    transition: all 1.5s ;
    cursor: pointer;
}
.banner-details button:hover{
    background-color: orange;
    font-size: 23px;
    color: azure;
}
.fa-arrow-right{
    position: relative;
    left:15px;
}

.banner-img img{
    width: 600px;
    height: 750px;
    margin-top:100px ;
}


/* main-part */
.container-2{
    width: 80%;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    margin-left: 190px;
}
.main{
    display: flex;
}
.manu{
    width: 330px;
    height: 330px;
    background-color: black;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    margin-right: 40px;

   

    

}
.manu nav{
    margin-top: 60px;
    
}
.manu nav ul {
    width: 200px;
    height: 50px;
    background-color: white;
    list-style: none;
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 12px;
}

.manu .Blog{
    background-color: red;
   
}
.manu .match li{
    position: relative;
    font-size: 20px;
    top: 6px;
    text-align: center;
}

.manu .group li{
    position: relative;
    text-align: center;
    top: 6px;
    font-size: 20px;
}
.manu .Blog li{
    position: relative;
   text-align: center;
    top: 6px;
    font-size: 25px;
}
.manu nav ul li{


  font-size: 25px;
  
}
.manu nav ul li a{

    color:black;
    text-decoration: none;
    

}
.whole-article{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    margin-left: 15px;
}
article{
    width: 330px;
    height: 400px;
    border: 1px solid rgb(211, 203, 203);
    border-radius: 20px;
   
}
article img{
    width: 100%;
}
article .button button {
    padding: 8px 20px;
    border-radius: 5px;
    font-size: 17px;
    margin-left: 20px;
    margin-top: 20px;
}
article p{
    margin-left:20px ;
    font-size: 20px;
    margin-top: 10px;
}
.logo-img{
    display: flex;
    margin-top: 13px;
}
.logo-clock img{
    width: 30px;
    margin-left: 20px;
}
.logo-clock span{
    margin-left: 8px;
    position:relative;
    top: -8px;

}
.logo-massage img{
    margin-left:20px;
    width: 30px;
}
.logo-massage span{
    margin-left: 8px;
    position:relative;
    top: -8px;
}


/* footer-part */

.container-3{
    height: 500px;
    background-color: black;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
footer{
    margin-top: 100px;
}
footer h1{
    color: white;
    text-align: center;
    margin-bottom: 60px;
    font-size: 40px;
}
.hr{
    border: 1px solid rgb(148, 144, 144);
}
.anchor{
    display: flex;
    margin-top: 40px;
    
}
.anchor div a{
    color: rgb(161, 154, 154);
    margin: 0 30px;
}

@media screen and (max-width:668px) {
    .top-banner {
        display: flex;
        flex-direction: column;
        
    }
    .banner-details {
        width: 80%;
        margin-top: 71px;
        margin-left: 60px;
    }
    .banner-details h1 {
        font-size: 35px;
    }
    .banner-details p {
        font-size: 14px;
        margin-top: 35px;
    }
    .banner-details button {
        padding: 10px 24px;
    }
    .banner-img {
        margin-left: 59px;
        margin-top: -31px;
    }
    .banner-img img {
        width: 291px;
        height: 348px;

    }
}